@CHARSET "UTF-8";


/* GENERAL SETTINGS*/

* {
	font-family: "Arial", sans-serif;
	color: gray;
}

a {
	color: white;
}

h2, h3 {
	color: #140757;
	clear: both;
}

h2 {
	margin-bottom: 50px;
}

h3 {
	font-weight: normal;
}

.bold {
	font-weight: bold;
	color: black;
}

.moveDown {
	position: relative;
	top: 5px;
}


.wrapper {
	max-width: 1150px;;
	margin: 0 auto;
	padding: 0;	
}


.content {
	display: inline-block;
	min-width: 350px;
	margin: 0px auto;
}


/*CONTENT ON THE LEFT SIDE*/
.left  {
	float: left;
	max-width: 800px;
	width: 60%;
}

.sliderWrapper {
	height: 50px;
	width: 400px;
	display: inline-block;
	float: left;
}

.inputTextWrapper {
	height: 30px;
	width: 135px;
	margin-left: 20px;
	display: inline-block;
}

.slider {
	width: 400px;
	top: 5px;
	cursor: pointer;
}

.slider .ui-slider-range{
	background: green;
}

.inputText {
	width: 70px;
	display: inline-block;
	float: left;
	margin-right: 5px;
	color: black;
    font-size: 18px;
    border: 1px solid rgb(197, 197, 197);
    text-align: left;
}

.limits {
	width: 400px;
	font-size: 10px;
	display: inline-block;
}

#monthsToYears {
	font-size: 10px;
	position: relative;
	left: -60px;
    top: 3px;
}

.max_limit {
	float: right;
}


label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  color: #5895ef;
}

label:before {
  content: "";
  display: inline-block;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0px;
  background-color: white;
  border: 1px solid gray;
}

input[type=radio] {
  display: none;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    color: green;
    font-size: 45px;
    text-align: center;
    line-height: 16px;
}



#moreInformation p {
	margin-top: 30px;
	font-size: 12px;
}


/*CONTENT ON THE RIGHT SIDE*/
.right {
	background-color: #140757;
	text-align: center;
	height: 435px;
	color: white;
	width: 35%;
}

#footer {
	clear: both;
}

#montPaymentTitle {
	font-weight: bold;
	font-size: 20px;
	color: white;
	padding-top: 40px;
}


#monthPayment {
	font-size: 50px;
	color: white;
}


#continue {
	background-color: #3FB360;
	border-color: #3FB360;
	border-radius: 3px;
	width: 50%;
	height: 50px;
	margin: 90px auto 0px auto;
	line-height: 50px;
	text-decoration: underline;
}

#continue a {
	display: block;
	font-weight: bold;
}

#continue:HOVER {
	background-color: #3d9656;
}


#telephoneLink {
	height: 20px;
	background-image: url("images/phone.png");
	background-repeat: no-repeat;
	width: 165px;
	background-position: left center;
	margin: 20px auto;
	text-align: right;
}


#telephoneLink a {
	display: block;
	font-size: 14px;
}